<h1><%= @user.name %></h1>
<%= render 'tasks/tasks', tasks: @tasks %>
<%= link_to 'Logout', logout_path, method: :delete %>
<%= link_to 'My task all', tasks_path %>
<%= link_to 'ユーザー一覧', users_path %>